<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>FinalP</display-name>
	<welcome-file-list>
	
		<welcome-file>stokKayit.jsp</welcome-file>
		
	</welcome-file-list>
	-<env-entry>

<env-entry-name>connURL</env-entry-name>

<env-entry-type>java.lang.String</env-entry-type>

<env-entry-value>jdbc:sqlserver://localhost:3306;databaseName=stokGoruntuleme;integratedSecurity=true;</env-entry-value>

</env-entry>
</web-app>
</element>